@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.3;
  color: #000;
  background-color: #eee;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-family: "Elsie Swash Caps", cursive;
  font-size: 2.3rem;
  margin-top: 0 0 1.3;

}

p {
  font-size: 1.3rem;
  margin: 0 0 1.3;
  text-align: center;
}

a {
  text-align: center;
}

a .link {
  margin-bottom: 1.3rem;
}

.one {
  margin-bottom: 0;
  margin-top: 0;
}

.two {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

.three {
  margin-bottom: .3rem;
  margin-top: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.img-card {
  position: relative;
}

.img-card-content {
  position: absolute;
  top: 50%;
  max-width: 45em;
  width: 100%;
  padding: 0 1em;
  left: 50%;

  align-items: flex-start;
  transform: translate(-50%, -50%);
}

a {
  font-size: 1.1rem;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 0.2rem;
}

.btn {
  text-align: center;
}

a:hover {
  background-color: #ccc;
  color: #000;
}

span {
  font-weight: bold;
}

.section-two {
  position: relative;
}

.title {
  position: absolute;
  top: 50%;
  max-width: 45em;
  width: 100%;
  padding: 0 1em;
  left: 50%;
  align-items: flex-start;
  transform: translate(-50%, -50%);
}

.button {
  position: absolute;
  top: 90%;
  max-width: 45em;
  padding: .2rem;
  left: 85%;
  align-items: flex-start;
  transform: translate(-50%, -50%);
}

header {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav {
  margin-bottom: 1.3rem;
}

.nav li {
  list-style-type: none;
  align-items: center;
  padding: .5em 0;
  margin: 0;
  text-align: center;
}

a .br {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  padding: .5rem .5rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
}

a:hover {
  background-color: #ccc;
  color: #000;
}

h2 {
  margin: 0;
  margin-bottom: 1.3rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 1.3rem;
}

.card {
  padding: .75rem;
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid #000;
  width: 50%;
}

.card-1 {
  background-color: #eee;
}

.card-2 {
  background-color: #ddd;
}

.card-3 {
  background-color: #ccc;
}

.card-4 {
  background-color: #bbb;
}

.cards p {
  padding: 1rem;
}

.cards h3 {
  margin: 0;
  padding: .75rem;
  text-align: center;
}

.section-four {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 1.3rem;
}

.table-one,
.table-two {
  padding: .75rem;
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid #000;
  width: 50%;
}

.reserve {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, -50%);
}

img .img-flex {
  display: block;
  width: 100%;
}

.map-placeholder {
  position: relative;
}

.map-button {
  position: absolute;
  max-width: 45em;
  padding: 1rem 2rem;
  left: 80%;
  align-items: flex-start;
  transform: translate(-50%, -50%);
}

.link-card-one {
  display: block;
  border-width: 3px;
  border-radius: 3px;
  border-style: solid;
  border-color: #000;
  font-size: 1.3rem;

  background-color: #000;
  color: #fff;
  text-decoration: none;
  text-align: center;

  padding: .4em .75em .5em;
  margin: 0 0 1.3rem;
}

.email {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
  padding: .5em .75em;
  border-radius: 3px;
  border-width: 8px;
  color: #000;
  background-color: #bbb ;
  font-weight: bold;
}

.link-card-one:hover .email {
  background-color: #333;
  color: #fff;
}

.about-us p {
  display: block;
  margin: 0 1.3rem;
}

.about-us p {
  margin: 0;
  margin-bottom: 1.3rem;
}


.nav {
  margin-bottom: 1.3rem;
}

.nav li {
  list-style-type: none;
  align-items: center;
  padding: .5em 0;
  margin: 0;
  text-align: center;
}

.br {
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  padding: .5rem .5rem;
}

a:hover {
  background-color: #ccc;
  color: #000;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.5em 0;

  background-color: #8bc9d9;
  border-top: 3px solid #005e76;

  color: #005e76;
}

.footer ul {
  margin-top: 0;
  margin-bottom: 1.5rem;
  padding-left: 0;
  list-style-type: none;
}

.nav {
  padding: 0 1rem;
}

img .social-img {
  width: 25%;
}

.social {
  padding: 0 1rem;
  list-style-type: none;
}

.social > li {
  margin: 0 .5em;
}

.copyright {
  padding: 0 1rem;
  width: 100%;
}

.about-us1 {
  display: flex;
  flex-wrap: nowrap;
}

.us {
  display: flex;
  width: 30%;

}

.about-us p {
  width: 70%;
  text-align: left;
  padding-left: .5rem;
  margin-bottom: 1.3rem;
}

p .none {
  display:none;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  h1,
  p {
    margin: 0 0 1.3rem;
  }

  .three {
    margin-bottom: 1.3rem;
  }

  a {
    font-size: 1.3rem;
  }

  .button {
    font-size: 1.3rem;
    padding: 1.3rem;
    top: 85%;
    padding: .2rem;
    left: 86%;
  }

  h1 {
    font-size: 3rem;
  }

  .reserve {
    top: 89%;
    left: 50%;
  }

  a .br {
    font-size: 1.3rem;
    padding: .5rem .5rem;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1,
  p {
    margin: 0 0 1.4rem;
  }

  .one,
  .three {
    font-size: 1.4rem;
  }

  .two {
    font-size: 5rem;
  }

  .three {
    margin-bottom: 2rem;
  }


  a {
    font-size: 1.4rem;
    padding: .5rem;
  }

  a .link {
    padding: 1.4rem;
    font-size: 1.5;
  }

  h1 {
    font-size: 4.2rem;
  }

  a.button {
    font-size: 1.4;
    padding: .5rem;
  }

  .br {
    padding-left: 2.3rem;
    padding-right: 2.3rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.4rem;
  }

  .about-us p {
    margin-bottom: 1.4rem;
  }

  .link-card-one {
    margin-bottom: 1.4rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  h1,
  p {
    margin: 0 0 1.5rem;
  }

  .one,
  .three {
    font-size: 2.5rem;
  }

  .two {
    font-size: 10.1rem;
  }

  .three {
    margin-bottom: 3.5rem;
  }


  a {
    font-size: 2rem;
    padding: 1rem;
  }

  a .link {
    padding: 1.4rem;
    font-size: 1.5;
  }

  h1 {
    font-size: 6.5rem;
    text-align: center;
    max-width: 60em;
  }

  .title {
    max-width: 60em;
  }

  a.button {
    font-size: 2rem;
    padding: .5rem;
  }

  .br {
    font-size: 2.5rem;
    padding-left: 3rem;
    padding-right: 3.3rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5rem;
  }

  .cards {
    margin-bottom: 1.5rem;
    flex-wrap: nowrap;
  }

  .reserve {
    top: 81%
  }

  .map-button {
    top: 440%;
    left: 76%;
    font-size: 3rem;
    padding: 2rem;
  }

  .call {
    margin-bottom: 1.4rem;
  }

  .copyright {
    font-size: 1rem;
  }

  .us {
    width: 20%;

  }

  p .none {
    display: inline;
    font-weight: normal;
  }

  .about-us p {
    width: 80%;
    text-align: left;
    padding-left: .5rem;
    margin-bottom: 1.5rem;
  }

  .link-card-one {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  .about-us1 {
    display: flex;
    flex-wrap: nowrap;
  }

  .us {
    display: flex;
    width: 50%;

  }

  one,
  .three {
    font-size: 3rem;
  }

  .two {
    font-size: 12rem;
  }

  .three {
    margin-bottom: 3.5rem;
  }


  a {
    font-size: 3rem;
    padding: 1rem;
  }

  a .link {
    padding: 2rem;
    font-size: 1.5;
  }

  h1 {
    font-size: 9rem;
    text-align: center;
    max-width: 120em;
  }

  .title {
    max-width: 120em;
  }

  a.button {
    font-size: 3rem;
    padding: 1rem;
  }

  .br {
    font-size: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

}
